<h1>{{title}}</h1>

<!--<button mat-button (click)="openDialog()">Launch dialog</button>-->
<!--<app-modal></app-modal>-->
<button mat-raised-button color="primary" (click)="openDialog()">Добавить фильм</button>
<!--(sendMovie)="addItem($event)"-->

<!--<app-form (onSubmit)="addItem($event)"></app-form>-->

<hr>

<h2>Фильмы</h2>

<app-button-toggles></app-button-toggles>

<router-outlet>

  <div class="card" >
    <app-movie-item *ngFor="let movieItem of movieList"
                    [item]="movieItem"
                    (remove)="removeItem($event)"
                    (favourite)="changeFavourite($event)"
                    (update)="updateItem(movieItem, $event)"
    >
    </app-movie-item>
  </div>

</router-outlet>


