<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-xl-image src="{{item.url}}" alt="img">

    <mat-card-title-group style="margin-left: 1rem">
      <mat-card-subtitle>Название фильма:</mat-card-subtitle>
      <mat-card-title>
        <!--            <app-movie-item [item]="movieItem"></app-movie-item>-->
        {{item.title}}
      </mat-card-title>

      <mat-card-subtitle>Жанр:</mat-card-subtitle>
      <mat-card-title>{{item.genre}}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="changeFavourite()">
      <div *ngIf="!item.favorite; else noFavorite">Добавить в избранное</div>
      <ng-template #noFavorite>
        Убрать из избранного
      </ng-template>
    </button>

<!--    <button mat-raised-button color="primary" (click)="openDialog()">Добавить фильм</button>-->

<!--    <button mat-button (click)="updateItem()" >Изменить</button>-->
    <button mat-button (click)="openDialog()">Изменить</button>
    <button mat-button (click)="removeItem()">Удалить</button>
  </mat-card-actions>
</mat-card>
